
<article class="w-[80%] mx-auto bg-teal-50 shadow-2xl rounded-2xl mb-10 p-4 md:w-full">
    {% if author.image %}
        <img class="w-[50%] mx-auto" src="{% static author.image.name %}" alt="Imagen de {{ author.name }}">
    {% else %}
        <img class="w-[50%] mx-auto" src="{% static 'no_picture.png' %}" alt="No hay imagen">
    {% endif %}

    <div class="rounded-2xl mt-2 p-2">
        <p class="font-bold"> 
            {{ author.name }} {{ author.last_name }}
        </p>
        <p >
            {{ book.biography|truncatewords:20 }}
        </p>
        <div class="flex flex-col mt-4">
            <p>
                <a class="border rounded-2xl p-2 border-teal-600 text-teal-600 hover:border-white hover:text-white hover:bg-teal-600" href="{% url 'author_detail' author.pk %}">Ver más</a>
            </p>
        </div>
    </div>
</article>