{% extends "../base.html" %}

{% block page_content %}
    <section>
        <div>
            <h2 class="text-center text-4xl my-10 text-teal-800">Autores</h2>
            <div class="flex flex-col gap-5 text-center md:grid md:grid-cols-2 md:gap-5 md:mx-10 xl:grid-cols-3">
                {% for author in authors %}
                    {% include '_includes/_author.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="flex justify-center mb-10">
            <nav class="flex gap-3">
                {% if page_obj.has_previous %}
                    <a class="w-6" href="?page={{ page_obj.previous_page_number }}">
                        <img src="{% static 'circle-left.svg' %}" alt="anterior">
                    </a>
                {% endif %}
                <span>
                    {{ page_obj.number }}
                </span>

                {% if page_obj.has_next %}
                    <a class="w-6" href="?page={{ page_obj.next_page_number }}">
                        <img src="{% static 'circle-right.svg' %}" alt="">
                    </a>
                {% endif %}
            </nav>
        </div>
    </section>
{% endblock %}