{% load tailwind_filters %} 
<section class="mt-8 border-t border-teal-200 pt-6 flex flex-col">
    <h3 class="text-2xl font-bold text-center">Reseñas</h3>
    {% for review in book.reviews.all %}
        <div class="flex flex-col mx-auto gap-2 p-2 w-[50%] max-w-md bg-teal-200 shadow mb-10 rounded-2xl">
            <span class="text-center">{{ review.user.username }}</span>
            
            <div class="text-yellow-500 text-center">
                ★ {{ review.rating }}
            </div>
            <p class="text-center">{{ review.comment }}</p>
            <small class="text-center">{{ review.created_at|date:"d M, Y" }}</small>
        </div>
    {% endfor %}
    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'add_review' book.slug %}" class="space-y-4 mx-auto flex flex-col mb-10">
            {% csrf_token %}
            <div>
                <label  class="block text-sm font-medium mb-1" for="rating">Valoración</label>
                {{ form.rating }}
            </div>
            <div>
                <label class="block text-sm font-medium mb-1" for="comment">Comentario</label>
                {{ form.comment }}
            </div>
            <button class="bg-teal-200 p-2 rounded-2xl text-black mt-3 hover:border-white hover:text-white hover:bg-teal-600 mx-auto">Enviar</button>
        </form>
    {% else %}
        <p>
            Debes <a class="text-teal-800 font-medium" href="{% url 'login' %}"> iniciar sesión</a> para hacer una reseña.
        </p>
    {% endif %}
</section>
    
